body{
    background-color:hsl(217, 54%, 11%);
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    padding: 50px;
}

img{
    border-radius: 8%;
    width:400px;
    height:400px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:20px;
}

.container{
    background-color: hsl(216, 50%, 16%);
    width:440px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 33px -7px rgba(20,37,61,1);
    -moz-box-shadow: 0px 10px 33px -7px rgba(20,37,61,1);
    box-shadow: 0px 10px 33px -7px rgba(20,37,61,1);
}

@media only screen and (max-width: 390px) {
    body{
        padding: unset;
    }
    .container {
      width: 90%;
    }
    .image{
        width:100%;
        display: flex;
        justify-content: center;
    }
    img{
        width:300px;
        height:300px;
        border-radius: 30px;
    }
  }

.details{
    padding: 0 20px 0 20px;
}

h3{
    margin:0;
    color: white;
}

p{
    font-weight: 300;
}

.eth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eth1{
    display: flex;
    align-items: center;
    color:hsl(178, 100%, 50%);
}

.eth2{
    display: flex;
    align-items: center;
    color:hsl(215, 51%, 70%);
}

object{
    padding-right: 10px;
}

hr{
    margin-top: 20px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-width: 2px;
}

.avatar{
    height:40px;
    width: 40px;
    border: 2px solid white;
    padding: 0;
    border-radius: 100%;
}

.author{
    padding:10px 0 30px 0;
    display: flex;
    align-items: center;
}

.author-text{
    padding-left:10px;
}

.eth1 img{
    width:10px;
    height:18px;
    padding:0 5px 0 0;
    margin:0;
}

.eth2 img{
    width:15px;
    height:18px;
    padding:0;
    margin:0;
}

.left{
    padding-left:5px;
}

.calm, .white{
    color:hsl(216, 29%, 57%);
}

strong{
    color:white;
    padding-left:4px;
}
